{
  "CognitoUserMigrationFunction": {
    "LDAP_URL": "ldap://host.docker.internal:389",
    "LDAP_ADMIN_DN": "cn=admin,dc=localdev,dc=dvsa",
    "LDAP_ADMIN_PASSWORD": "admin",
    "LDAP_USER_SEARCH_BASE": "dc=localdev,dc=dvsa",
    "LDAP_USERNAME_ATTRIBUTE": "cn",
    "LDAP_OBJECT_FILTER_MAP": "{\"mail\":\"email\",\"cn\":\"username\"}"
  }
}
